.rightbar__friends{
    margin-top: 20px;
    
}
.rightbar__friendImage{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.rightbar__friendContainer{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.rightbar__friendOnline{
    height: 15px;
    width:15px;
    background: rgb(51, 128, 0);
    border-radius: 50%;
    position: absolute;
    margin-bottom: 30px;
   margin-left: 30px;
   border: 1.5px solid white;
   
}